body{
	font-family: Arial, Helvetica, sans-serif;
}
#gantry{
	border: gray solid 1px;
	padding: 5px;
	background-color: lightgray;
	margin: auto;
	width: 500px; 
}
.input{
	float:right;
}
h3{
	text-align:center;
}
button:hover{
    margin: 0 auto;
	color:red;
}